* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

nav {
    display: flex;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

.produtos {
    display: none; 

@media screen and (max-width: 500px) {
    .container {
        flex-direction: column;
    position: absolute;
    width: 100%;
    top: 60px;
    left:-100%;
    
    }
.botão-esquerda{
    float: right;
}
    .produtos {
        display: flex;
        cursor: pointer;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #333;
        position: absolute;
        top: 80px;
        left: 0;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin-top: 10px;
    }
}



